*.geojson
.DS_Store
_data/*
!_data/LST
_data/LST/*
!_data/LST/*.geojson
!_data/Vegetation
!_data/311_data.parquet
!_data/EMS_data.parquet
!_data/dps_summary.parquet
!_data/nri_data.parquet
!_data/cdc_places_tract.parquet
!_data/cdc_places_zcta.parquet
!_data/hvi_zcta.parquet
!_data/hvi_nta.parquet
!_data/acs_data.parquet
!_data/dec_data.parquet
!_data/acs_data_zcta.parquet
